body{
    background-color: #f1faee;
      font-family: 'Poppins', sans-serif;

}
.titulo{
    width: 50%;
    position: relative;
    left: 40%;
    font-size: 16px;
    color: #1b263b;
}

.geral{

}

.geral h1{
    font-size: 22px;
    color: #1b263b;
}
.geral p{
    font-size: 12px;
    color: #1b263b;
    opacity: 0.7;
}

.geral h4{
    font-size: 10px;
    color: #1b263b;
    
}
.geral input{
    padding: 3px 3px;
    background-color: #fff;
    width: 200px;

}

.geral button{
    margin-top: 15px;
    padding: 5px 3px;
    width: 200px;
    background-color: #3a86ff;
    color: #fff;
    border-radius:8px;
}

.vazia{
    background-color: #fff;
    width: 95%;
    margin-top: 15px;
    padding-left: 20px;
}
.vazia h1{
    font-size: 21px;
    color: #1b263b;
}


